# Data Inspection

This file is being used to inspect the data retrieved from yahoo finance

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
data = yf.download('QQQ',start='2025-11-13')
data.to_csv("C:/Users/USER/Documents/QQQ Project/data/raw_data/yfinance_data.csv")

C:\Users\USER\AppData\Local\Temp\ipykernel_19220\4205524132.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('QQQ',start='2025-11-13')
[*********************100%***********************]  1 of 1 completed

In [3]:
df = pd.DataFrame(data)
df.head()

Price            Close        High         Low        Open    Volume
Ticker             QQQ         QQQ         QQQ         QQQ       QQQ
Date
2025-11-13  608.400024  618.119995  606.080017  617.539978  71333600
2025-11-14  608.859985  613.349976  597.169983  599.549988  80013300

In [4]:
df.tail()

Price            Close        High         Low        Open    Volume
Ticker             QQQ         QQQ         QQQ         QQQ       QQQ
Date
2025-11-13  608.400024  618.119995  606.080017  617.539978  71333600
2025-11-14  608.859985  613.349976  597.169983  599.549988  80013300

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2025-11-13 to 2025-11-14
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, QQQ)   2 non-null      float64
 1   (High, QQQ)    2 non-null      float64
 2   (Low, QQQ)     2 non-null      float64
 3   (Open, QQQ)    2 non-null      float64
 4   (Volume, QQQ)  2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

Historical Data Structure

In [ ]:
data = pd.read_csv("C:/Users/USER/Documents/QQQ Project/data/raw/full_QQQ_data.csv")
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6715 entries, 0 to 6714
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6715 non-null   object
 1   Open    6715 non-null   float64
 2   High    6715 non-null   float64
 3   Low     6715 non-null   float64
 4   Close   6715 non-null   float64
 5   Volume  6715 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 314.9+ KB

In [10]:
df.head()

         Date      Open       High       Low      Close   Volume
0  1999-03-10  51.12500  51.156250  50.28125  43.478279  5232000
1  1999-03-11  51.43750  51.734375  50.31250  43.691170  9688600
2  1999-03-12  51.12500  51.156250  49.65625  42.626823  8743600
3  1999-03-15  50.43750  51.562500  49.90625  43.850815  6369000
4  1999-03-16  51.71875  52.156250  51.15625  44.223331  4905800

In [11]:
df.tail()

            Date        Open        High         Low       Close    Volume
6710  2025-11-10  618.919983  624.309998  616.890015  623.229980  55919900
6711  2025-11-11  620.570007  622.719971  617.520020  621.570007  44868800
6712  2025-11-12  624.840027  624.859985  617.809998  621.080017  47444400
6713  2025-11-13  617.539978  618.119995  606.080017  608.400024  71333600
6714  2025-11-14  599.549988  613.349976  597.169983  608.859985  80013300

Clean full historical data

In [12]:
# Convert Date to datetime
df["Date"] = pd.to_datetime(df["Date"])

# Set Date as index
df = df.set_index("Date")

# Sort just to be safe
df = df.sort_index()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6715 entries, 1999-03-10 to 2025-11-14
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    6715 non-null   float64
 1   High    6715 non-null   float64
 2   Low     6715 non-null   float64
 3   Close   6715 non-null   float64
 4   Volume  6715 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 314.8 KB

In [17]:
df.to_csv("C:/Users/USER/Documents/QQQ Project/data/processed/new_QQQ_data.csv")

In [16]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')